<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<listeners>
<listener class-name="selenium.TestComponents.Listeners"></listener>
</listeners>
  <test thread-count="5" name="ipAdressset">
    <classes>
      <class name="selenium.Test.SettingsTests"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Mapgeneraters">
    <classes>
      <class name="selenium.Test.MapFileTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
